@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body {
    margin: 0;
    background-color: #9197ae;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;

}

h1 {
    margin: 0;
    padding: 10px;
    background-color: #273043;
    color: #eff6ee;
}

#container {
    display: flex;
    justify-content: space-around;
}

.task-container {
    height: 80vh;
    width: 30vw;
    background-color: #eff6ee;
    border-radius: 2em;
}

li {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
    width: 95%;
}

input {
    margin-left: 5%;
    margin-top: 20px;
    width: 40%;
    font-size: 20px;
    border-radius: .2em;
}

#submit {
    padding: 10px 50px;
    border-radius: 1em;
    background-color: rgba(86, 252, 127, 0.719);
}

#submit:hover {
    background-color: rgb(0, 255, 64);
    box-shadow: 0 0 1px 1px;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5%;
    transform: translate(-50%, -50%);
    height: 10%;
    width: 20%;
    color: #eff6ee;
    background-color: #273043c2;
    text-align: center;
    box-shadow: 0 0 1px 2px black;
    z-index: 2;
}

.option1 {
    height: 40px;
    width: 55px;
    margin: 10px;
    background-color: rgb(81, 255, 81);
}

.option1:hover {
    background-color: #9197ae;
}

.option2 {
    height: 40px;
    width: 50px;
    margin: 10px;
    background-color: red;
}

.option2:hover {
    background-color: #9197ae;
}

#cover-complete {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    height: 81vh;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2em;
    top: 17%;
    right: 10%;
}

#clear {
    position: absolute;
    right: 10%;
    top: 10%;
    width: 6%;
    height: 4%;
    background-color: rgb(255, 117, 117);
    border-radius: 1em;
}

#clear:hover {
    background-color: red;
    box-shadow: 0 0 1px 1px;

}

#completed {
    text-decoration: line-through;
    text-decoration-thickness: .2em;
}

#container-heading {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

h2 {
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
}